* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    list-style: none;
    font-family: "Inter", sans-serif;
    ;

    a {
        text-decoration: none;
    }

    overflow: scroll;
}

::-webkit-scrollbar {
    display: none;
}

#header {
    background-image: url("https://bmw.scene7.com/is/image/BMW/X7_3000x3000:16to7?fmt=webp&wid=2560&hei=1120");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;

    .center-box {
        margin: auto;
        height: 90%;
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav {
        height: 90px;
        border-bottom: 1px solid white;
        display: flex;
        justify-content: space-between;
    }

    .n1 {
        width: 700px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0px 10px;
    }

    .logo {
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        object-fit: contain;
    }

    a {
        color: white;
        font-weight: bold;
        font-size: 15px;
        /* background-color: mediumvioletred; */
        height: 100%;
        padding: 0px 10px;
        border-bottom: 4px solid transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;


        &:hover {
            cursor: pointer;
            border-bottom: 4px solid rgb(19, 145, 229);
        }
    }

    .n2 {
        width: 300px;
        height: 100%;
        /* background-color: thistle; */
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    li {
        height: 100%;
        /* background-color: yellowgreen; */
        list-style-type: none;
        padding: 0px 16px;
        font-size: 18px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid transparent;

        &:hover {
            cursor: pointer;
            border-bottom: 4px solid rgb(19, 145, 229);
        }
    }

    .content {
        margin-top: 100px;
        width: 320px;
        height: 400px;
        /* background-color: mediumorchid; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h3 {
        color: white;
        font-weight: 300;
        font-size: 20px;
        margin-bottom: 0px;
        /* background-color: purple; */
    }


    h2 {
        color: white;
        font-size: 13vw;
        font-weight: 400;
        /* background-color: orange; */
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: flex-start;

    }

    .btn {
        margin-top: 20px;
        padding: 16px;
        width: 200px;
        color: white;
        background-color: #1c69d4;
        border: none;
        border-radius: 4px;

        &:hover {
            background-color: #0257ce;
        }
    }

}

#main {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .section1 {
        display: flex;
        flex-direction: column;
        height: 70vh;
        width: 100%;
        text-align: center;
        align-items: center;
        padding-bottom: 5px;

        h2 {
            margin: 50px auto;
            font-size: 40px;
            font-weight: 300;
        }

        .card-container {

            height: 70%;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin: 0px auto;
            text-align: center;


            .card {

                height: 80%;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 35px;



                h3 {
                    font-weight: 250;
                    font-size: 25px;
                }

                button {
                    height: 50px;
                    width: 140px;
                    padding: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    border: 1.5px solid rgba(0, 0, 0, 0.485);
                    background-color: white;
                    border-radius: 5px;


                    a {
                        color: black;
                        font-size: 15px;

                    }

                    &:hover {
                        border-color: black;
                        cursor: pointer;
                    }
                }
            }
        }

    }

    .section2 {
        height: 80vh;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 25%, transparent 75%),
            url("https://bmw.scene7.com/is/image/BMW/X5-7:3to1?fmt=webp&wid=2560&hei=853");
        background-size: cover;
        background-position: center;
        color: white;


        .content {
            margin: auto;
            padding-top: 50px;

            width: 85%;
            /* background-color: mediumorchid; */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        h3 {
            color: white;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 0px;
            /* background-color: purple; */
            letter-spacing: 3px;
        }


        h2 {
            color: white;
            font-size: 16vw;
            font-weight: 400;
            /* background-color: orange; */
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }

        .content h3:last-of-type {
            font-size: 20px;
            font-weight: 500;
        }

        .btn {
            margin-top: 20px;
            padding: 16px;
            width: 250px;
            color: white;
            background-color: transparent;
            border: none;
            border-radius: 4px;
            border: 1px solid white;
            font-size: 16px;

            &:hover {
                border: 2px solid white;

            }
        }


    }

    .section3 {
        height: 80vh;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 25%, transparent 75%),
            url("https://bmw.scene7.com/is/image/BMW/x3-mobile-banner-image-1:3to1?fmt=webp&wid=2560&hei=853");
        background-size: cover;
        background-position: center;
        color: white;

        .content {
            margin: auto;
            padding-top: 50px;
            background: hsl(1, 1, 1);
            width: 85%;
            /* background-color: mediumorchid; */
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        h3 {
            color: white;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 0px;
            /* background-color: purple; */
            letter-spacing: 3px;
        }


        h2 {
            color: white;
            font-size: 16vw;
            font-weight: 400;
            /* background-color: orange; */
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }

        .content h3:last-of-type {
            font-size: 20px;
            font-weight: 500;
        }

        .btn {
            margin-top: 20px;
            padding: 16px;
            width: 250px;
            color: white;
            background-color: transparent;
            border: none;
            border-radius: 4px;
            border: 1px solid white;
            font-size: 16px;

            &:hover {
                border: 2px solid white;

            }
        }
    }

    .section4 {
        height: 80vh;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 25%, transparent 75%),
            url("https://bmw.scene7.com/is/image/BMW/DI21_000048047_3000_3000:3to1?fmt=webp&wid=2560&hei=853");
        background-size: cover;
        background-position: center;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .content {

            background: hsl(1, 1, 1);
            width: 85%;
            margin: 0 auto 40px auto;


        }


        h3 {
            color: white;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 0px;
            /* background-color: purple; */
            letter-spacing: 3px;
        }


        h2 {
            color: white;
            font-size: 16vw;
            font-weight: 400;
            /* background-color: orange; */
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }

        .content h3:last-of-type {
            font-size: 20px;
            font-weight: 500;
        }

        .btn {
            margin-top: 20px;
            padding: 16px;
            width: 250px;
            color: white;
            background-color: transparent;
            border: none;
            border-radius: 4px;
            border: 1px solid white;
            font-size: 16px;

            &:hover {
                border: 2px solid white;

            }
        }
    }

    .section5 {
        height: 70vh;
        width: 100%;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 25%, transparent 75%),
            url("https://bmw.scene7.com/is/image/BMW/iX_Banner1:3to1?fmt=webp&wid=2560&hei=853");
        background-size: cover;
        background-position: center 40%;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .content {

            background: hsl(1, 1, 1);
            width: 85%;
            margin: 0 auto 40px auto;


        }


        h3 {
            color: white;
            font-weight: 300;
            font-size: 18px;
            margin-bottom: 0px;
            /* background-color: purple; */
            letter-spacing: 3px;
        }


        h2 {
            color: white;
            font-size: 16vw;
            font-weight: 400;
            /* background-color: orange; */
            height: 180px;
            display: flex;
            align-items: center;
            justify-content: flex-start;

        }

        .content h3:first-of-type {
            font-size: 24px;
            font-weight: 250;
            margin-bottom: 20px;
        }

        .btn {
            margin-top: 20px;
            padding: 16px;
            width: 250px;
            color: white;
            background-color: transparent;
            border: none;
            border-radius: 4px;
            border: 1px solid white;
            font-size: 16px;

            &:hover {
                border: 1.5px solid white;

            }
        }
    }

    .section6 {
        height: 90%;
        width: 100%;
        margin: 0px auto;
        display: flex;
        padding: 0px 50px 100px 50px;
        gap: 60px;
        border-bottom: 0.1px solid gray;

        .left {
            height: 100%;
            width: 60%;
          
            img {
                height: 100%;
                width: 100%;
                
            }
        }

        .right {
            height: 100%;
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-top: 100px;
            gap: 20px;

            h2 {
                font-size: 30px;
                font-weight: 300;
                letter-spacing: 1px;
            }

            p {
                letter-spacing: 1px;
                color: rgba(0, 0, 0, 0.747);
            }

            span:hover {
                color: rgba(0, 89, 255, 0.944);
            }
        }
    }

}

#footer {
    .section7 {
        height: 10vh;
        width: 80%;
        margin: 30px auto 0px;


        .box {
            font-size: 14px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;

            span a {
                font-size: 16px;
                color: black;
                font-weight: bold;

                &:hover {
                    color: #0257ce;
                }
            }
        }
    }

    .container {
        height: 75vh;
        width: 100%;
        margin: auto;
        background-color: rgb(234, 234, 234);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
       

        .card-container {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            gap: 20px;

            .cards {
                width: 20vw;
                text-align: left;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;

                p{
                    color: gray;
                    font-size: 20px;
                    color: red;
                
                    
                }
                a{
                    color: black;
                    font-size: 15px;
                }

                a:hover{
                    color: rgb(33, 33, 243);
                }
            }
        }
        .icon-container{
            padding: 50px;
            height: 20vh;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;

        }
        i:hover{
            cursor: pointer;
        }

    }
    .bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        width: 100%;
        padding: 50px;
        p{
            font-size: 20px;
            font-weight: 300;
        }
        .right-links{
            width: 50%;
            display: flex;
            justify-content: space-evenly;

            a{
                color: black;
                font-size: 14px;
            }

        }
    }
}
.call {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    border-radius: 50%;
    position: fixed;
    bottom: 25%;
    right: 5%;
    font-size: 18px;
    z-index: 999;
    box-shadow: 1px 1px 15px .1px gray;
}
